# Documents generated rewrite v1.2.0-r4
RewriteEngine On

RewriteCond %{QUERY_STRING} (^|&)mode=save(&|$)
RewriteRule ^index\.php$ document-save.php [L,QSA]

RewriteRule ^$ home.php [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^/]+)/([^/]+)/?$ document.php?cat=$1&doc=$2 [L,QSA]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^/]+)/?$ category-route.php?cat=$1 [L,QSA]
